<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ot.devicecheck">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/dev_check_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="OT Device Check" >
        </activity>
        <activity android:name=".DeviceInfo"
            android:label="Device Information"></activity>
        <activity android:name=".CompleteInfo"
            android:label="Device Information"></activity>
        <activity android:name=".Manual_Test"
            android:label="Manual Test"></activity>
        <activity android:name=".Auto_Test"
            android:label="Automated Tests"></activity>
        <activity
            android:name=".functionalities.Accelarometer"
            android:label="@string/title_activity_accelarometer" >
        </activity>
        <activity
            android:name=".functionalities.Magneticsensor"
            android:label="@string/title_activity_magneticsensor" >
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.MAGNETICSENSOR" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>


        <activity
            android:name=".functionalities.Gyroscope"
            android:label="@string/title_activity_gyroscope" >
        </activity>
        <activity
            android:name=".functionalities.Batteryindicator"
            android:label="@string/title_activity_batteryindicator" >
        </activity>

        <activity
            android:name=".functionalities.Gpsloc"
            android:label="@string/title_activity_gpsloc" >
        </activity>
        <activity
            android:name=".functionalities.Wifiaddress"
            android:label="@string/title_activity_wifiaddress" >
        </activity>
        <activity
            android:name=".functionalities.Blueadd"
            android:label="@string/title_activity_blueadd" >
        </activity>
        <activity
            android:name=".functionalities.Headphone"
            android:label="@string/title_activity_headphone" >
        </activity>
        <activity
            android:name=".functionalities.Vibration"
            android:label="@string/title_activity_vibration" >
        </activity>
        <activity
            android:name=".functionalities.Tele"
            android:label="@string/title_activity_tele" >
        </activity>
        <activity
            android:name=".functionalities.Systeminfo"
            android:label="@string/title_activity_systeminfo" >
        </activity>
        <activity
            android:name=".functionalities.TouchSensor"
            android:label="@string/title_activity_touch_sensor" >
        </activity>
        <activity
            android:name=".functionalities.Display"
            android:label="@string/title_activity_button" >
        </activity>
        <activity
            android:name=".functionalities.ProximitySensor"
            android:label="@string/title_activity_proximity_sensor" >
        </activity>
        <activity
            android:name=".functionalities.Lightsensor"
            android:label="@string/title_activity_lightsensor" >
        </activity>
        <activity
            android:name=".functionalities.Buttontesting"
            android:label="@string/title_activity_buttontesting" >
        </activity>
        <activity
            android:name=".functionalities.Mictesting"
            android:label="@string/title_activity_mictesting" >
        </activity>
        <activity
            android:name=".functionalities.Pressure"
            android:label="@string/title_activity_pressure" >
        </activity>
        <activity
            android:name=".functionalities.Flash"
            android:label="@string/title_activity_flash" >
        </activity>


        <activity
            android:name=".functionalities.Gravitysensor"
            android:label="@string/title_activity_gravitysensor" >
        </activity>
    </application>

</manifest>